body {
  padding-top: 11.5rem;
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  font-weight: 900;
  background-color: rgba(0, 128, 0, 0.596);
}

h1 {
  margin-left: 2rem;
  text-align: center;
  padding: 0.1rem;
  margin: auto;
}

p {
  text-align: center;
  margin-top: 1rem;
}

/*___________________________index modo movil_________________________________________*/

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-image: url(../imagenes/fondoHrder.jpg);
  background-size: 100% 100%;
  background-position: center;
  align-items: center;
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.encabezado img {
  height: 6rem;
}

.encabezado h1 {
  background-color: rgba(255, 255, 255, 0.459);
}

.navbar {
  position: fixed;
  top: 6rem;
  z-index: 1000;
  width: 100%;
}

.navegador {
  background-color: rgb(113, 173, 113);
  padding: 0.1rem 0 0.1rem 0;
}

.navegadorboton:hover {
  background-color: rgb(18, 78, 18);
}

.btn,
.btn-outline-success,
.me-2 {
  height: 2.5rem;
  color: white;
  font-weight: bold;
  border: solid white 1px;
}

.fa-solid {
  margin-left: 0.5rem;
}

.botonCarrito {
  display: flex;
  align-items: center;
  border: 0;
}

.publicidad {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0 1rem 0;
}

.oferta {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  height: 10rem;
  width: 48%;
  border-radius: 14px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(113, 173, 113);
  height: 4rem;
  
}

.redes {
  height: 30px;
  width: 30px;
}

/*_________________________acercade pag___________________________________*/

.contenedor-acercade {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(85, 131, 85);
}

.textos-acercade {
  border-radius: 14px;
  padding: 1rem;
  background-color: rgb(113, 173, 113);
  border-radius: 14px;
  box-shadow: 2px 5px 15px rgb(79, 114, 79);
}

/*__________________________contacto pag__________________________________*/

.contenedor-acercade-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(85, 131, 85);
}

.textos-acercade-2 {
  border-radius: 14px;
  box-shadow: 2px 5px 15px rgb(79, 114, 79);
  padding: 0.5rem;
  background-color: rgb(113, 173, 113);
}

.textos-acercade-2 h1 {
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  margin: auto;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 14px;
}

.textos-acercade-2 p {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.textos-acercade-2 ul li {
  text-align: center;
  font-size: 1.2rem;
  list-style-type: none;
}

.total {
  margin-top: 1rem;
  border:  solid 1px black;
  text-align: center;
}

/*__________________________Tienda pag________________________*/

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(85, 131, 85);
}

.tarjetaTienda {
  border: solid 1px rgb(85, 131, 85);
  overflow: hidden;
  margin: 0.4rem;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
  padding: 0.5rem;
}

.tarjetaTienda img {
  border-radius: 14px 14px 0 0;
  height: 20rem;
}

.card-title {
  text-align: center;
}

.cuerpoTarjetaTienda {
  background-color: rgb(113, 173, 113);
  padding: 0.2rem;
}

.nombreTarjetaTienda {
  font-size: 1.4rem;
  margin-top: 0rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.281);
}

.detalleTienda {
  margin: 0;
}

.medidasTienda {
  margin: 0;
}

.preciosTienda {
  margin: 0;
  font-size: 1.5rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 14px 14px;
}

.botonTarjetaTienda {
  background-color: rgb(36, 107, 36);
  margin-bottom: 0.3rem;
}

.botonTarjetaTienda:hover {
  background-color: rgb(9, 56, 9);
}

/*__________________________carrito  pag________________________*/

.maine {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgb(24, 66, 7);
  color: rgb(255, 255, 255);
}

.estiloCarrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(85, 131, 85);
}

.estiloTarjetaCarrito {
  border: solid 1px black;
  border-radius: 14px;
  background-color: rgb(99, 212, 99);
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.muestraElegida {
  overflow: hidden;
  display: flex;
  justify-items: center;
  margin: 5px;
}

.muestraElegida img {
  height: 160px;
  width: 160px;
}

.zideMustra {
  height: 140px;
  width: 150px;
}

.cuerpoTarjeta {
  padding: 0;
  height: auto;
  background-color: rgb(113, 173, 113);
  border-radius: 0 0 14px 14px;
}

.nombreTarjeta {
  margin: 0;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.521);
}

.precioTarjeta {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.bontonCarritoQuitar {
  margin: 0.3rem;
  border-radius: 8px;
  background-color: rgb(9, 56, 9);
}

/*________________________ index modo web_______________________*/

@media (min-width: 600px) {
  .navbar .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}

@media (min-width: 600px) {
  .navbar .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}

@media (min-width: 720px) {
  .navbar .container-fluid {
    gap: 3rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 820px) {
  .navbar .container-fluid {
    gap: 4rem;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 920px) {
  .navbar .container-fluid {
    gap: 5rem;
  }
  h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 950px) {
  .navbar .container-fluid {
    gap: 6rem;
  }
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1300px) {
  .navbar .container-fluid {
    gap: 7rem;
  }

  h1 {
    font-size: 4rem;
  }

  .carousel-inner {
    display: flex;
    align-items: center;
    height: 60vh;
  }

  .carousel-item {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
/*________________________ contanto modo web_______________________*/

@media (min-width: 1300px) {
  .contenedor-acercade-2 {
    align-items: center;
    height: auto;
  }

  .textos-acercade-2 {
    text-align: center;
    max-width: 60%;
    margin: auto;
    padding: 2rem;
  }

  .textos-acercade-2 h1 {
    font-size: 2.3rem;
    padding: 0 5rem 0 5rem;
  }

  .textos-acercade-2 p {
    font-size: 1.2rem;
    padding: 0 2rem 0 2rem;
  }

  .textos-acercade-2 ul li {
    text-decoration: none;
    font-size: 1.2rem;
    list-style-type: none;
  }
}

@media (min-width: 950px) {
  .contenedor-acercade-2 {
    align-items: center;
    height: auto;
  }

  .textos-acercade-2 {
    text-align: center;
    max-width: 60%;
    margin: auto;
    padding: 2rem;
  }

  .textos-acercade-2 h1 {
    font-size: 2.3rem;
    padding: 0 5rem 0 5rem;
  }

  .textos-acercade-2 p {
    font-size: 1.2rem;
    padding: 0 2rem 0 2rem;
  }

  .textos-acercade-2 ul li {
    text-decoration: none;
    font-size: 1.2rem;
    list-style-type: none;
  }
}

@media (min-width: 920px) {
  .contenedor-acercade-2 {
    align-items: center;
    height: auto;
  }

  .textos-acercade-2 {
    text-align: center;
    max-width: 60%;
    margin: auto;
    padding: 2rem;
  }

  .textos-acercade-2 h1 {
    font-size: 2.3rem;
    padding: 0 5rem 0 5rem;
  }

  .textos-acercade-2 p {
    font-size: 1.2rem;
    padding: 0 2rem 0 2rem;
  }

  .textos-acercade-2 ul li {
    text-decoration: none;
    font-size: 1.2rem;
    list-style-type: none;
  }
}



